@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    font-family: "Roboto", sans-serif;
}

.login-page {
    width: 400px;
    padding: 7% 0 0;
    margin: auto;
}

.form {
    background: #FFFFFF;
    max-width: 400px;
    text-align: center;
}

.avatar {
    vertical-align: middle;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.title-edit {
    color: #403866;
}

.style-name-avatar {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    color: #85838E;
}

.mb-avatar {
    margin-bottom: 40px;
}

.label-input {
    text-align: left;
}

.style-label {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 13px;
    color: #85838E;
}

.mx-30 {
    padding: 30px 0px 30px 0px;
}

.vinculo-betha {
    margin-top: 20px;
    max-width: 400px;
    text-align: center;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 3px;
}

.button-access {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #A09DFF;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
}

.button-betha {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #142C48;
    width: 100%;
    border: 1px solid #c0c0c0;
    padding: 13px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
}

.logo-betha {
    width: 14px;
    margin-right: 4px;
}

.button-betha:hover, .form button:active, .form button:focus {
    background: #142C48;
    transition: all 0.4s;
    opacity: 0.8;
}

.button-access:hover, .form button:active, .form button:focus {
    background: #8979D4;
    transition: all 0.4s;
}

.secondary-actions {
    display: inline-block;
    margin-top: 24px;
    text-align: center;
    width: 100%;
}

.font-actions {
    font-size: 14px;
}

.decoration-none {
    text-decoration: none;
    color: #716EF1;
}

.decoration-none:active, .form a:active {
    color: #413EC1;
}
