<div class="container container-page">
  <section>
    <h1>Link</h1>
    <div>
      <a href="">Teste de link</a>
    </div>
  </section>
  <section>
    <h1>Abas</h1>
    <ngb-tabset [destroyOnHide]="false">
      <ngb-tab title="Simple">
        <ng-template ngbTabContent>
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
            synth
            master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
            keffiyeh
            dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia
            cillum
            iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Fancy title</ng-template>
        <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee
          squid.
          <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
            farm-to-table
            craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad
            vinyl
            cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS
            salvia
            yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable
            jean
            shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher
            vero
            sint qui sapiente accusamus tattooed echo park.</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Disabled" [disabled]="true">
        <ng-template ngbTabContent>
          <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
            facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu,
            congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices
            et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus
            faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci
            varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac
            lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
    <ngb-tabset [destroyOnHide]="false" [orientation]="'vertical'">
      <ngb-tab title="Simple">
        <ng-template ngbTabContent>
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
            synth
            master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
            keffiyeh
            dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia
            cillum
            iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Fancy title</ng-template>
        <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee
          squid.
          <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
            farm-to-table
            craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad
            vinyl
            cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS
            salvia
            yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable
            jean
            shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher
            vero
            sint qui sapiente accusamus tattooed echo park.</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Disabled" [disabled]="true">
        <ng-template ngbTabContent>
          <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
            facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu,
            congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices
            et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus
            faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci
            varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac
            lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </section>
  <section>
    <h1>Alerta</h1>
    <p *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" (close)="close(alert)">A simple success alert with <a href="#"
          class="alert-link">an example link</a> {{ alert.message }} </ngb-alert>
    </p>
    <p *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" (close)="close(alert)" class="alert-icon">A simple success alert with <a href="#"
          class="alert-link">an example link</a> {{ alert.message }}</ngb-alert>
    </p>
  </section>
  <section>
    <h1>Barra de progresso</h1>
    <p>
      <ngb-progressbar [value]="25" [showValue]="true"></ngb-progressbar>
    </p>
    <p>
      <ngb-progressbar class="progress-indeterminate" [value]="25" [showValue]="true"></ngb-progressbar>
    </p>
    <p>
      <ngb-progressbar type="success" [value]="25" [showValue]="true"></ngb-progressbar>
    </p>
    <p>
      <ngb-progressbar type="danger" [value]="50" [showValue]="true"></ngb-progressbar>
    </p>
    <p>
      <ngb-progressbar type="info" [value]="75" [showValue]="true"></ngb-progressbar>
    </p>
    <p>
      <ngb-progressbar type="warning" [value]="100" [showValue]="true"></ngb-progressbar>
    </p>
  </section>
  <section>
    <h1>Botão</h1>
    <div class="my-5">
      <button type="button" class="btn btn-primary m-1">Primary</button>
      <button type="button" class="btn btn-secondary m-1">Secondary</button>
      <button type="button" class="btn btn-success m-1">Success</button>
      <button type="button" class="btn btn-danger m-1">Danger</button>
      <button type="button" class="btn btn-warning m-1">Warning</button>
      <button type="button" class="btn btn-info m-1">Info</button>
      <button type="button" class="btn btn-link m-1">Link</button>
    </div>

    <div class="my-5">
      <button type="button" class="btn btn-sm btn-primary m-1">Primary</button>
      <button type="button" class="btn btn-sm btn-secondary m-1">Secondary</button>
      <button type="button" class="btn btn-sm btn-success m-1">Success</button>
      <button type="button" class="btn btn-sm btn-danger m-1">Danger</button>
      <button type="button" class="btn btn-sm btn-warning m-1">Warning</button>
      <button type="button" class="btn btn-sm btn-info m-1">Info</button>
      <button type="button" class="btn btn-sm btn-link m-1">Link</button>
    </div>


    <div class="my-5">
      <button type="button" class="btn btn-lg btn-primary m-1">Primary</button>
      <button type="button" class="btn btn-lg btn-secondary m-1">Secondary</button>
      <button type="button" class="btn btn-lg btn-success m-1">Success</button>
      <button type="button" class="btn btn-lg btn-danger m-1">Danger</button>
      <button type="button" class="btn btn-lg btn-warning m-1">Warning</button>
      <button type="button" class="btn btn-lg btn-info m-1">Info</button>
      <button type="button" class="btn btn-lg btn-link m-1">Link</button>
    </div>

    <div class="my-5">
      <button type="button" class="btn btn-add btn-primary m-1">Primary</button>
      <button type="button" class="btn btn-add btn-secondary m-1">Secondary</button>
      <button type="button" class="btn btn-add btn-success m-1">Success</button>
      <button type="button" class="btn btn-add btn-danger m-1">Danger</button>
      <button type="button" class="btn btn-add btn-warning m-1">Warning</button>
      <button type="button" class="btn btn-add btn-info m-1">Info</button>
      <button type="button" class="btn btn-add btn-link m-1">Link</button>
    </div>
    <div class="btn-group btn-group-toggle">
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="model.left"> Left (pre-checked)
      </label>
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="model.middle"> Middle
      </label>
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="model.right"> Right
      </label>
    </div>
  </section>
  <section>
    <h1>Dropdown</h1>
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Action - 1</button>
            <button ngbDropdownItem>Another Action</button>
            <button ngbDropdownItem>Something else is here</button>
          </div>
        </div>
      </div>

      <div class="col text-right">
        <div ngbDropdown placement="top-right" class="d-inline-block">
          <button class="btn btn-primary" id="dropdownBasic2" ngbDropdownToggle>Toggle dropup</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <button ngbDropdownItem>Action - 1</button>
            <button ngbDropdownItem>Another Action</button>
            <button ngbDropdownItem>Something else is here</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h1>Popover</h1>
    <button type="button" class="btn btn-secondary mr-2" placement="top"
      ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on top">
      Popover on top
    </button>

    <button type="button" class="btn btn-secondary mr-2" placement="right"
      ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on right">
      Popover on right
    </button>

    <button type="button" class="btn btn-secondary mr-2" placement="bottom"
      ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on bottom">
      Popover on bottom
    </button>

    <button type="button" class="btn btn-secondary mr-2" placement="left"
      ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on left">
      Popover on left
    </button>
  </section>

  <section>
    <h4>Modal</h4>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="dateOfBirth">Date of birth</label>
            <div class="input-group">
              <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                #dp="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-secondary calendar" (click)="dp.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
      </div>
    </ng-template>

    <button class="btn btn-primary" (click)="open(content)">Launch demo modal</button>
  </section>

  <section>
    <h4>Paginação</h4>
    <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Custom pagination">
      <ng-template ngbPaginationPrevious><i class="mdi mdi-chevron-left mr-1"></i>Anterior</ng-template>
      <ng-template ngbPaginationNext>Próxima<i class="mdi mdi-chevron-right ml-1"></i></ng-template>
      <ng-template ngbPaginationNumber let-p>{{ p }}</ng-template>
    </ngb-pagination>
    <hr>

    <pre>Current page: {{page}}</pre>
  </section>
  <section>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1" class="required">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <div class="form-group">
        <label for="campo1" class="required">Teste com placeholder</label>
        <input type="text" class="form-control" id="campo1" placeholder="Teste de placeholder">
      </div>
      <div class="form-group">
        <label>Pequeno</label>
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm">
      </div>
      <div class="form-group">
        <label>Normal</label>
        <input class="form-control" type="text" placeholder="Default input">
      </div>
      <div class="form-group">
        <label>Grande</label>
        <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg">
      </div>
      <div class="form-group">
        <label>Somente leitura</label>
        <input class="form-control" type="text" placeholder="Default input" readonly>
      </div>
      <div class="form-group">
        <label>Inválido</label>
        <input type="text" class="form-control is-invalid" id="validationServer03" aria-describedby="validationServer03Feedback" required>
      </div>
      <div class="form-group">
        <label>Addon de texto</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
          </div>
          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="form-group">
        <label>Addon de botão</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-secondary btn-sm" type="button" id="button-addon2"><i class="mdi mdi-calendar"></i></button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div>
        <h4>Checkboxes</h4>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" checked>
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck2" disabled>
          <label class="form-check-label" for="exampleCheck2">Desativato</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck3" disabled checked>
          <label class="form-check-label" for="exampleCheck3">Desativato marcado</label>
        </div>
        <div class="my-4">
          <h5>Checkbox inline</h5>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
            <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
          </div>
        </div>
        <div class="my-4">
          <h5>Checkbox empilhado</h5>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Default checkbox
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
            <label class="form-check-label" for="defaultCheck2">
              Disabled checkbox
            </label>
          </div>
        </div>
      </div>

      <div>
        <h4>Radio</h4>
        <div class="form-check">
          <input type="radio" class="form-check-input" id="exampleRadio1" checked>
          <label class="form-check-label" for="exampleRadio1">Check me out</label>
        </div>
        <div class="form-check">
          <input type="radio" class="form-check-input" id="exampleRadio2" disabled>
          <label class="form-check-label" for="exampleRadio2">Desativato</label>
        </div>
        <div class="form-check">
          <input type="radio" class="form-check-input" id="exampleRadio3" disabled checked>
          <label class="form-check-label" for="exampleRadio3">Desativato marcado</label>
        </div>
        <div class="my-4">
          <h5>Radio inline</h5>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"
              disabled>
            <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
          </div>
        </div>
        <div class="my-4">
          <h5>Radio empilhado</h5>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
              checked>
            <label class="form-check-label" for="exampleRadios1">
              Default radio
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Second default radio
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3"
              disabled>
            <label class="form-check-label" for="exampleRadios3">
              Disabled radio
            </label>
          </div>
        </div>
        <div class="my-4">
          <h4>Switch</h4>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" disabled id="customSwitch2">
            <label class="custom-control-label" for="customSwitch2">Disabled switch element</label>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </section>
</div>
